body{
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header
{
    color: #ffffff;
    padding: 10px;
    text-align: center;
}   
p{
    background-color: #333;
    color: white;
}

nav{
    background-color: #555;
    color: white;
    padding: 15px;
    text-align: center;
}   

aside{
    background-color: #777;
    color: white;
    padding: 15px;
    margin: 10px;

}
aside ul li{
    margin-bottom: 10px;    
}

section{
    background-color: #999;
    color: white;
    padding: 15px;
    margin: 10px;
}

footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}